*{
    box-sizing: border-box;
}

body{
   
    margin: 0 auto;
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
    
}

#loader{
    display: none;
}

a{
   text-decoration: none;
   color: white;
   font-weight: bold;
}


p{
    margin: 0;
}




/* topography */
.title{
    font-weight: 800;
    font-size: 1.2rem;
    
    color: #000000;
}
.movie-plot{
    color: #6b7280;
    font-size: 0.65rem;
    line-height: 1.1rem;
    margin-top: 1em;
}

.movie-gerne{
    font-size: 0.65rem;
    color: #111827;
}

.search{
    text-align: center;
    display: flex;
    max-width: 55%;
    margin: 0 auto;
    justify-content: center;
    position: absolute;
    bottom: -20;
    left: 0;
    right: 0;
    text-align: center;

 
}

.instructions {
    background-color: instructions;
    font-size: 1.5rem;
}

.watchlist-btn p{
    margin-left: 2px;
}

h3 {
    margin: 0;
}

.movie-rating{
    font-size: .7em;
}

.Dark-bg{
    background-color: rgb(15, 14, 14);
    padding: .75em;
    border-radius: 10px;
    box-shadow: 10px 10px 20px;
    font-size: 1.5rem;
    opacity: .85;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    letter-spacing: 2px;

    
}




input{
    width: 100%;
    font-size: 1em;
    padding: 1em 0 1em 0;
    margin-bottom: 1em;
    margin: 0;
    background-color: #000000c6;
    color: #F9FAFB;
    opacity: 1;
    bottom: 0;
    left: 0;
}

input:focus{
    outline: none;
}


.search button{
    border: none;
    background-color: #000000c6;
    opacity: 1;
    color: #F9FAFB;
    
   
    
}

.movie-gerne button{
    background-color: inherit;
    border: none;
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%;
    font-weight: 600;
}

.movie-gerne button ,.search button:hover{
    cursor: pointer;
}

.watchlist-btn{
    letter-spacing: .5px;
}

.watch{
    margin-left: 2px;
}



/* layout */



.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.watchlist{
   
    display: flex;
    align-items: center;
}

.instructions{
    color:#111827a7;
}

.hero{
    position: relative;
    background-image: url('https://wallpapercave.com/wp/wp1945897.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(43, 38, 38, 0.899);
    margin-bottom: 2em;
}

.headings{
    padding: 5em;
    display: flex;
    border: 2px solid ;
    width: 100%;
    justify-content: center;
    gap: 4em;
    color: white;
    font-weight: 800;
    margin: 0 auto;
    font-size: .75rem;
  
    /* gap: .7em; */
    /* position: absolute; */
}   
.movie-info{
    display: flex;
    align-items: center;
    width: 100%;

}
.movie-info-wrapper{
    margin-left: 1em;
    width: 100%;
}
.search-results{
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

   
}

.current-movie{
    display: flex;
    border-top: 1.5px solid #e5e7eb;
    margin: 0;
    justify-content: flex-start;
    padding: 1em 0 1em 0;
    min-width: 100%;
    
   
}
img{
    max-width:150px ;
}

.movie-gerne{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    margin-top: 1em;
    align-items: center;
    gap: 1em;

   
}

.watchlist-btn.flex-container{
    margin-left: auto;
}




